.root {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    width:100vw;  
    height: 89vh;
    margin-top:-9px;
  }
.list1,.list2{
    position: absolute;
    right: 0%;
    top:2%;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    padding:0.5rem  ;
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 3px;
   transition:border-color 0.3s ease-in-out ;
   background-color: bisque;
}
.list2{
    top: 9%;
}
.list1:hover{
    border-color: chartreuse;
}
.list2:hover{
    border-color: red;
}