.root {
    width: 198px;
    display: flex;
    padding:0.5rem ;
    box-sizing: border-box; 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    
  }
.list{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    padding:0.5rem  ;
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 3px;
   transition:border-color 0.3s ease-in-out ;
}
.list:nth-child(1):hover{
    border-color: chartreuse;
}
.list:nth-child(2):hover{
    border-color: red;
}